#DDDDDD #222831  #30475E  #F05454 





.nav-bg{
    background-color: #2C2C2C !important;
  }
  .navbar-brand{
    font-size: 2.25rem !important;
  }
  .btn-outline-secondary {
    color: #6B778D;
    border-color: #6B778D;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.news h1{
    margin-top: 30px;
}
.news{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 300px;
    background-color: #fff;
    border-left: 2px solid #dddddd;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #222831;
}
.btn-primary {
    color: #fff;
    background-color: #222831;
    border-color:#222831;
}
.form-check-input:checked {
    background-color: #222831;
    border-color: #222831;
}





